body {
  padding: 0;
  margin: 0;
  background-color: #fceee3; }

.b-block, .c-block {
  max-width: 2200px;
  width: 100%;
  height: 100%;
  display: block;
  margin: 20px auto;
  transition: .3s; }
  .b-block__text, .c-block__text {
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.005em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    display: block;
    margin: auto;
    width: 400px;
    padding: 161px 0;
    text-align: center; }
  .b-block__expand, .c-block__expand {
    cursor: pointer;
    padding: 20px;
    background-color: #606060;
    color: #fff;
    border-radius: 35px;
    display: block;
    margin: auto;
    width: 50px;
    font-size: 15px;
    line-height: 1.07143;
    font-weight: 200;
    letter-spacing: -.005em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

.b-block-popup, .c-block-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  z-index: 10;
  top: 100%;
  transition: .8s; }
  .b-block-popup__text, .c-block-popup__text {
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.005em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    display: block;
    margin: auto;
    width: 400px;
    padding: 161px 0;
    text-align: center; }
  .b-block-popup__close, .c-block-popup__close {
    padding: 20px;
    background-color: #606060;
    color: #fff;
    border-radius: 35px;
    display: block;
    margin: auto;
    width: 50px;
    font-size: 15px;
    line-height: 1.07143;
    font-weight: 200;
    letter-spacing: -.005em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    text-align: center;
    cursor: pointer; }

.background {
  background-color: rgba(0, 0, 0, 0.42);
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  z-index: 1; }

.active-block {
  transform: scale(0.6); }

.active-expand-block {
  top: 0; }
